* {
	color: green;
	font-size: 20px;
}

body {
	background: black;
	
}

div{
	float: left;
}

.copy {
	display: none;
}

.left {
	left: inherit;
}

.right {
	right: 0;
}

.hide {
	display:none;
}

.paste .line:last-child {
	position: relative;
}

.box {
	height: 25px;
    width: 5px;
    background: green;
    display: inline-block;
    vertical-align: middle;
}

.blink {
	animation: blink 800ms infinite;
	opacity: 1;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}