* {
	color: green;
	font-size: 20px;
}

body {
	background: black;
	
}

div{
	float: left;
}

.copy {
	display: none;
}

.left {
	left: inherit;
}

.right {
	right: 0;
}

.name {
	display:none;
}

.box {
	height: 20px;
	width: 5px;
	background: green;
	position: absolute;
	bottom: 0;
	right: 0;
}
.paste {
	position: relative;
}