* {
	color: green;
	font-size: 20px;
}

body {
	background: black;
	
}

div{
	float: left;
}

.copy {
	display: none;
}

.box {
	height: 20px;
	width: 5px;
	background: green;
	float: right;
	margin-left: 10px;
}
.display-none {
	
}